In [1]:
import pandas as pd

In [2]:
claustro = pd.read_csv('./data/claustro.csv', sep=';')
claustro

               Nombre Rol Vertical   Promocion    Campus
0           Noa Yáñez  TA       DS  Septiembre    Madrid
1   Saturnina Benitez  TA       DS  Septiembre    Madrid
2          Anna Feliu  TA       FS  Septiembre    Madrid
3       Rosalva Ayuso  TA       FS  Septiembre  Valencia
4    Ana Sofía Ferrer  TA       FS     Febrero  Valencia
5     Angélica Corral  TA       FS     Febrero    Madrid
6         Ariel Lledó  TA       DS  Septiembre    Madrid
7         Mario Prats  LI       FS     Febrero  Valencia
8   Luis Ángel Suárez  LI       FS  Septiembre    Madrid
9  María Dolores Diaz  LI       DS  Septiembre    Madrid

In [5]:
claustro.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Nombre     10 non-null     object
 1   Rol        10 non-null     object
 2   Vertical   10 non-null     object
 3   Promocion  10 non-null     object
 4   Campus     10 non-null     object
dtypes: object(5)
memory usage: 532.0+ bytes

In [5]:
ds_clase1 = pd.read_csv('./data/listado_DS_clase_1.csv', sep=';')
ds_clase1

,Nombre,Email,Promoción,Fecha_comienzo,Campus,Proyecto_HLF,Proyecto_EDA,Proyecto_BBDD,Proyecto_ML,Proyecto_Deployment
0,Jafet Casals,Jafet_Casals@gmail.com,Septiembre,18/09/2023,Madrid,Apto,No Apto,Apto,Apto,Apto
1,Jorge Manzanares,Jorge_Manzanares@gmail.com,Septiembre,18/09/2023,Madrid,Apto,No Apto,Apto,Apto,Apto
2,Onofre Adadia,Onofre_Adadia@gmail.com,Septiembre,18/09/2023,Madrid,Apto,Apto,Apto,No Apto,Apto
3,Merche Prada,Merche_Prada@gmail.com,Septiembre,18/09/2023,Madrid,Apto,No Apto,No Apto,Apto,No Apto
4,Pilar Abella,Pilar_Abella@gmail.com,Septiembre,18/09/2023,Madrid,Apto,No Apto,Apto,Apto,Apto
5,Leoncio Tena,Leoncio_Tena@gmail.com,Septiembre,18/09/2023,Madrid,Apto,Apto,Apto,Apto,Apto
6,Odalys Torrijos,Odalys_Torrijos@gmail.com,Septiembre,18/09/2023,Madrid,No Apto,Apto,Apto,Apto,Apto
7,Eduardo Caparrós,Eduardo_Caparrós@gmail.com,Septiembre,18/09/2023,Madrid,No Apto,Apto,Apto,Apto,Apto
8,Ignacio Goicoechea,Ignacio_Goicoechea@gmail.com,Septiembre,18/09/2023,Madrid,Apto,Apto,Apto,No Apto,Apto
9,Clementina Santos,Clementina_Santos@gmail.com,Septiembre,18/09/2023,Madrid,Apto,No Apto,Apto,Apto,Apto
10,Daniela Falcó,Daniela_Falcó@gmail.com,Septiembre,18/09/2023,Madrid,Apto,Apto,Apto,Apto,Apto
11,Abraham Vélez,Abraham_Vélez@gmail.com,Septiembre,18/09/2023,Madrid,Apto,No Apto,No Apto,Apto,Apto
12,Maximiliano Menéndez,Maximiliano_Menéndez@gmail.com,Septiembre,18/09/2023,Madrid,Apto,No Apto,Apto,Apto,Apto
13,Anita Heredia,Anita_Heredia@gmail.com,Septiembre,18/09/2023,Madrid,Apto,Apto,Apto,Apto,Apto
14,Eli Casas,Eli_Casas@gmail.com,Septiembre,18/09/2023,Madrid,Apto,Apto,Apto,Apto,Apto

In [ ]:
ds_clase1.info()

In [6]:
ds_clase2 = pd.read_csv('./data/listado_DS_clase_2.csv', sep=';')
ds_clase2

,Nombre,Email,Promoción,Fecha_comienzo,Campus,Proyecto_HLF,Proyecto_EDA,Proyecto_BBDD,Proyecto_ML,Proyecto_Deployment
0,Guillermo Borrego,Guillermo_Borrego@gmail.com,Febrero,12/02/2024,Madrid,Apto,No Apto,No Apto,Apto,No Apto
1,Sergio Aguirre,Sergio_Aguirre@gmail.com,Febrero,12/02/2024,Madrid,Apto,No Apto,Apto,Apto,No Apto
2,Carlito Carrión,Carlito_Carrión@gmail.com,Febrero,12/02/2024,Madrid,Apto,No Apto,Apto,Apto,Apto
3,Haydée Figueroa,Haydée_Figueroa@gmail.com,Febrero,12/02/2024,Madrid,Apto,Apto,Apto,Apto,Apto
4,Chita Mancebo,Chita_Mancebo@gmail.com,Febrero,12/02/2024,Madrid,No Apto,Apto,No Apto,Apto,Apto
5,Joaquina Asensio,Joaquina_Asensio@gmail.com,Febrero,12/02/2024,Madrid,No Apto,No Apto,Apto,Apto,Apto
6,Cristian Sarabia,Cristian_Sarabia@gmail.com,Febrero,12/02/2024,Madrid,Apto,Apto,No Apto,Apto,Apto
7,Isabel Ibáñez,Isabel_Ibáñez@gmail.com,Febrero,12/02/2024,Madrid,No Apto,Apto,No Apto,Apto,Apto
8,Desiderio Jordá,Desiderio_Jordá@gmail.com,Febrero,12/02/2024,Madrid,No Apto,Apto,No Apto,No Apto,Apto
9,Rosalina Llanos,Rosalina_Llanos@gmail.com,Febrero,12/02/2024,Madrid,Apto,Apto,Apto,Apto,Apto

In [ ]:
ds_clase2.info()

In [21]:
fs_clase1 = pd.read_csv('./data/listado_FS_clase_1.csv', sep=';')
fs_clase1

,Nombre,Email,Promoción,Fecha_comienzo,Campus,Proyecto_WebDev,Proyecto_FrontEnd,Proyecto_Backend,Proyecto_React,Proyecto_FullSatck
0,Amor Larrañaga,Amor_Larrañaga@gmail.com,Septiembre,18/09/2023,Madrid,Apto,Apto,Apto,Apto,No Apto
1,Teodoro Alberola,Teodoro_Alberola@gmail.com,Septiembre,18/09/2023,Madrid,No Apto,No Apto,Apto,No Apto,Apto
2,Cleto Plana,Cleto_Plana@gmail.com,Septiembre,18/09/2023,Madrid,Apto,No Apto,Apto,No Apto,Apto
3,Aitana Sebastián,Aitana_Sebastián@gmail.com,Septiembre,18/09/2023,Madrid,Apto,No Apto,Apto,No Apto,Apto
4,Dolores Valbuena,Dolores_Valbuena@gmail.com,Septiembre,18/09/2023,Madrid,Apto,Apto,Apto,Apto,No Apto
5,Julie Ferrer,Julie_Ferrer@gmail.com,Septiembre,18/09/2023,Madrid,No Apto,No Apto,No Apto,Apto,No Apto
6,Mireia Cabañas,Mireia_Cabañas@gmail.com,Septiembre,18/09/2023,Madrid,No Apto,Apto,Apto,Apto,Apto
7,Flavia Amador,Flavia_Amador@gmail.com,Septiembre,18/09/2023,Madrid,Apto,Apto,No Apto,Apto,Apto
8,Albino Macias,Albino_Macias@gmail.com,Septiembre,18/09/2023,Madrid,No Apto,Apto,Apto,Apto,Apto
9,Ester Sánchez,Ester_Sánchez@gmail.com,Septiembre,18/09/2023,Madrid,No Apto,Apto,Apto,No Apto,Apto
10,Luis Miguel Galvez,Luis_Miguel_Galvez@gmail.com,Septiembre,18/09/2023,Madrid,No Apto,Apto,Apto,Apto,Apto
11,Loida Arellano,Loida_Arellano@gmail.com,Septiembre,18/09/2023,Madrid,Apto,Apto,Apto,Apto,Apto
12,Heraclio Duque,Heraclio_Duque@gmail.com,Septiembre,18/09/2023,Madrid,Apto,Apto,No Apto,No Apto,No Apto
13,Herberto Figueras,Herberto_Figueras@gmail.com,Septiembre,18/09/2023,Madrid,Apto,Apto,Apto,Apto,Apto

In [13]:
fs_clase1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Nombre              14 non-null     object
 1   Email               14 non-null     object
 2   Promoción           14 non-null     object
 3   Fecha_comienzo      14 non-null     object
 4   Campus              14 non-null     object
 5   Proyecto_WebDev     14 non-null     object
 6   Proyecto_FrontEnd   14 non-null     object
 7   Proyecto_Backend    14 non-null     object
 8   Proyecto_React      14 non-null     object
 9   Proyecto_FullSatck  14 non-null     object
dtypes: object(10)
memory usage: 1.2+ KB

In [22]:
fs_clase2 = pd.read_csv('./data/listado_FS_clase_2.csv', sep=';')
fs_clase2

,Nombre,Email,Promoción,Fecha_comienzo,Campus,Proyecto_WebDev,Proyecto_FrontEnd,Proyecto_Backend,Proyecto_React,Proyecto_FullSatck
0,Teresa Laguna,Teresa_Laguna@gmail.com,Febrero,12/02/2024,Valencia,Apto,Apto,Apto,Apto,Apto
1,Estrella Murillo,Estrella_Murillo@gmail.com,Febrero,12/02/2024,Valencia,Apto,Apto,No Apto,Apto,Apto
2,Ernesto Uriarte,Ernesto_Uriarte@gmail.com,Febrero,12/02/2024,Valencia,Apto,Apto,Apto,Apto,Apto
3,Daniela Guitart,Daniela_Guitart@gmail.com,Febrero,12/02/2024,Valencia,Apto,No Apto,No Apto,Apto,Apto
4,Timoteo Trillo,Timoteo_Trillo@gmail.com,Febrero,12/02/2024,Valencia,No Apto,Apto,Apto,Apto,No Apto
5,Ricarda Tovar,Ricarda_Tovar@gmail.com,Febrero,12/02/2024,Valencia,Apto,Apto,Apto,Apto,Apto
6,Alejandra Vilaplana,Alejandra_Vilaplana@gmail.com,Febrero,12/02/2024,Valencia,No Apto,No Apto,No Apto,Apto,Apto
7,Daniel Rosselló,Daniel_Rosselló@gmail.com,Febrero,12/02/2024,Valencia,No Apto,No Apto,Apto,No Apto,No Apto
8,Rita Olivares,Rita_Olivares@gmail.com,Febrero,12/02/2024,Valencia,No Apto,No Apto,No Apto,Apto,Apto
9,Cleto Montes,Cleto_Montes@gmail.com,Febrero,12/02/2024,Valencia,Apto,Apto,No Apto,Apto,Apto
10,Marino Castilla,Marino_Castilla@gmail.com,Febrero,12/02/2024,Valencia,No Apto,No Apto,Apto,No Apto,No Apto
11,Estefanía Valcárcel,Estefanía_Valcárcel@gmail.com,Febrero,12/02/2024,Valencia,Apto,Apto,No Apto,No Apto,Apto
12,Noemí Vilanova,Noemí_Vilanova@gmail.com,Febrero,12/02/2024,Valencia,Apto,No Apto,No Apto,Apto,Apto

In [15]:
fs_clase2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Nombre              13 non-null     object
 1   Email               13 non-null     object
 2   Promoción           13 non-null     object
 3   Fecha_comienzo      13 non-null     object
 4   Campus              13 non-null     object
 5   Proyecto_WebDev     13 non-null     object
 6   Proyecto_FrontEnd   13 non-null     object
 7   Proyecto_Backend    13 non-null     object
 8   Proyecto_React      13 non-null     object
 9   Proyecto_FullSatck  13 non-null     object
dtypes: object(10)
memory usage: 1.1+ KB

In [34]:
prueba = pd.DataFrame({
    "ID_estudiante": ["E1"] * 5,  # Repito el valor 5 veces
    "id_proyecto": ["1ds", "2ds", "3ds", "4ds", "5ds"],  # ID de cada proyecto
    "Nombre_proyecto": ["HLF", "MLF", "DLF", "ALF", "QLF"],  # Nombre de cada proyecto
    "Notas": ["apto", "no apto", "apto", "apto", "no apto"], #Nota de cada uno de los proyectos
    "Vertical_ID": 2 
})



prueba

  ID_estudiante id_proyecto Nombre_proyecto    Notas  Vertical_ID
0            E1         1ds             HLF     apto            2
1            E1         2ds             MLF  no apto            2
2            E1         3ds             DLF     apto            2
3            E1         4ds             ALF     apto            2
4            E1         5ds             QLF  no apto            2

In [2]:
# Importo la libreria de postgrest, en mi caso la binaria
import psycopg2
# creo el objeto de conección a través de los argumentos que defino a continuación para poder acceder a la basse de datos dónde haré querys
conn = psycopg2.connect(database="zhhgtxxv",
                        host="trumpet.db.elephantsql.com",
                        user="zhhgtxxv",
                        password="vn_eSZu3vBr5hQpHzpFtr4hc4v9H_Lkl",
                        port="5432")

In [3]:
cursor = conn.cursor()

In [7]:
# Con esta función leemos los datos y lo pasamos a un DataFrame de Pandas
def sql_query(query):

    # Ejecuta la query
    cursor.execute(query)

    # Almacena los datos de la query 
    ans = cursor.fetchall()

    # Obtenemos los nombres de las columnas de la tabla
    names = [description[0] for description in cursor.description]

    return pd.DataFrame(ans,columns=names)

In [1]:
"""Intente crear distintos roles para que trabajaramos en simultaneo en pgadmin pero 
    Elephant solo permite crear varios usuarios a través de 
    un plan más avanzado que el básico"""

# query = '''
# CREATE USER usuario1 WITH PASSWORD 'tu_contraseña';
# ;
# '''

# df = sql_query(query)
# df

'Intente crear distintos roles para que trabajaramos en simultaneo en pgadmin pero \n    Elephant solo permite crear varios usuarios a través de \n    un plan más avanzado que el básico'

In [3]:
claustro = pd.read_csv('./data/claustro.csv', sep=';')
claustro

               Nombre Rol Vertical   Promocion    Campus
0           Noa Yáñez  TA       DS  Septiembre    Madrid
1   Saturnina Benitez  TA       DS  Septiembre    Madrid
2          Anna Feliu  TA       FS  Septiembre    Madrid
3       Rosalva Ayuso  TA       FS  Septiembre  Valencia
4    Ana Sofía Ferrer  TA       FS     Febrero  Valencia
5     Angélica Corral  TA       FS     Febrero    Madrid
6         Ariel Lledó  TA       DS  Septiembre    Madrid
7         Mario Prats  LI       FS     Febrero  Valencia
8   Luis Ángel Suárez  LI       FS  Septiembre    Madrid
9  María Dolores Diaz  LI       DS  Septiembre    Madrid

In [8]:
ds_df =pd.concat([ds_clase1, ds_clase2])

In [11]:
ds_df.reset_index(inplace=True)

In [12]:
ds_df

,index,Nombre,Email,Promoción,Fecha_comienzo,Campus,Proyecto_HLF,Proyecto_EDA,Proyecto_BBDD,Proyecto_ML,Proyecto_Deployment
0,0,Jafet Casals,Jafet_Casals@gmail.com,Septiembre,18/09/2023,Madrid,Apto,No Apto,Apto,Apto,Apto
1,1,Jorge Manzanares,Jorge_Manzanares@gmail.com,Septiembre,18/09/2023,Madrid,Apto,No Apto,Apto,Apto,Apto
2,2,Onofre Adadia,Onofre_Adadia@gmail.com,Septiembre,18/09/2023,Madrid,Apto,Apto,Apto,No Apto,Apto
3,3,Merche Prada,Merche_Prada@gmail.com,Septiembre,18/09/2023,Madrid,Apto,No Apto,No Apto,Apto,No Apto
4,4,Pilar Abella,Pilar_Abella@gmail.com,Septiembre,18/09/2023,Madrid,Apto,No Apto,Apto,Apto,Apto
5,5,Leoncio Tena,Leoncio_Tena@gmail.com,Septiembre,18/09/2023,Madrid,Apto,Apto,Apto,Apto,Apto
6,6,Odalys Torrijos,Odalys_Torrijos@gmail.com,Septiembre,18/09/2023,Madrid,No Apto,Apto,Apto,Apto,Apto
7,7,Eduardo Caparrós,Eduardo_Caparrós@gmail.com,Septiembre,18/09/2023,Madrid,No Apto,Apto,Apto,Apto,Apto
8,8,Ignacio Goicoechea,Ignacio_Goicoechea@gmail.com,Septiembre,18/09/2023,Madrid,Apto,Apto,Apto,No Apto,Apto
9,9,Clementina Santos,Clementina_Santos@gmail.com,Septiembre,18/09/2023,Madrid,Apto,No Apto,Apto,Apto,Apto
10,10,Daniela Falcó,Daniela_Falcó@gmail.com,Septiembre,18/09/2023,Madrid,Apto,Apto,Apto,Apto,Apto
11,11,Abraham Vélez,Abraham_Vélez@gmail.com,Septiembre,18/09/2023,Madrid,Apto,No Apto,No Apto,Apto,Apto
12,12,Maximiliano Menéndez,Maximiliano_Menéndez@gmail.com,Septiembre,18/09/2023,Madrid,Apto,No Apto,Apto,Apto,Apto
13,13,Anita Heredia,Anita_Heredia@gmail.com,Septiembre,18/09/2023,Madrid,Apto,Apto,Apto,Apto,Apto
14,14,Eli Casas,Eli_Casas@gmail.com,Septiembre,18/09/2023,Madrid,Apto,Apto,Apto,Apto,Apto
15,0,Guillermo Borrego,Guillermo_Borrego@gmail.com,Febrero,12/02/2024,Madrid,Apto,No Apto,No Apto,Apto,No Apto
16,1,Sergio Aguirre,Sergio_Aguirre@gmail.com,Febrero,12/02/2024,Madrid,Apto,No Apto,Apto,Apto,No Apto
17,2,Carlito Carrión,Carlito_Carrión@gmail.com,Febrero,12/02/2024,Madrid,Apto,No Apto,Apto,Apto,Apto
18,3,Haydée Figueroa,Haydée_Figueroa@gmail.com,Febrero,12/02/2024,Madrid,Apto,Apto,Apto,Apto,Apto
19,4,Chita Mancebo,Chita_Mancebo@gmail.com,Febrero,12/02/2024,Madrid,No Apto,Apto,No Apto,Apto,Apto
20,5,Joaquina Asensio,Joaquina_Asensio@gmail.com,Febrero,12/02/2024,Madrid,No Apto,No Apto,Apto,Apto,Apto
21,6,Cristian Sarabia,Cristian_Sarabia@gmail.com,Febrero,12/02/2024,Madrid,Apto,Apto,No Apto,Apto,Apto
22,7,Isabel Ibáñez,Isabel_Ibáñez@gmail.com,Febrero,12/02/2024,Madrid,No Apto,Apto,No Apto,Apto,Apto
23,8,Desiderio Jordá,Desiderio_Jordá@gmail.com,Febrero,12/02/2024,Madrid,No Apto,Apto,No Apto,No Apto,Apto
24,9,Rosalina Llanos,Rosalina_Llanos@gmail.com,Febrero,12/02/2024,Madrid,Apto,Apto,Apto,Apto,Apto

In [13]:
ds_df.drop(columns='index', axis=1, inplace=True)

In [14]:
ds_df

,Nombre,Email,Promoción,Fecha_comienzo,Campus,Proyecto_HLF,Proyecto_EDA,Proyecto_BBDD,Proyecto_ML,Proyecto_Deployment
0,Jafet Casals,Jafet_Casals@gmail.com,Septiembre,18/09/2023,Madrid,Apto,No Apto,Apto,Apto,Apto
1,Jorge Manzanares,Jorge_Manzanares@gmail.com,Septiembre,18/09/2023,Madrid,Apto,No Apto,Apto,Apto,Apto
2,Onofre Adadia,Onofre_Adadia@gmail.com,Septiembre,18/09/2023,Madrid,Apto,Apto,Apto,No Apto,Apto
3,Merche Prada,Merche_Prada@gmail.com,Septiembre,18/09/2023,Madrid,Apto,No Apto,No Apto,Apto,No Apto
4,Pilar Abella,Pilar_Abella@gmail.com,Septiembre,18/09/2023,Madrid,Apto,No Apto,Apto,Apto,Apto
5,Leoncio Tena,Leoncio_Tena@gmail.com,Septiembre,18/09/2023,Madrid,Apto,Apto,Apto,Apto,Apto
6,Odalys Torrijos,Odalys_Torrijos@gmail.com,Septiembre,18/09/2023,Madrid,No Apto,Apto,Apto,Apto,Apto
7,Eduardo Caparrós,Eduardo_Caparrós@gmail.com,Septiembre,18/09/2023,Madrid,No Apto,Apto,Apto,Apto,Apto
8,Ignacio Goicoechea,Ignacio_Goicoechea@gmail.com,Septiembre,18/09/2023,Madrid,Apto,Apto,Apto,No Apto,Apto
9,Clementina Santos,Clementina_Santos@gmail.com,Septiembre,18/09/2023,Madrid,Apto,No Apto,Apto,Apto,Apto
10,Daniela Falcó,Daniela_Falcó@gmail.com,Septiembre,18/09/2023,Madrid,Apto,Apto,Apto,Apto,Apto
11,Abraham Vélez,Abraham_Vélez@gmail.com,Septiembre,18/09/2023,Madrid,Apto,No Apto,No Apto,Apto,Apto
12,Maximiliano Menéndez,Maximiliano_Menéndez@gmail.com,Septiembre,18/09/2023,Madrid,Apto,No Apto,Apto,Apto,Apto
13,Anita Heredia,Anita_Heredia@gmail.com,Septiembre,18/09/2023,Madrid,Apto,Apto,Apto,Apto,Apto
14,Eli Casas,Eli_Casas@gmail.com,Septiembre,18/09/2023,Madrid,Apto,Apto,Apto,Apto,Apto
15,Guillermo Borrego,Guillermo_Borrego@gmail.com,Febrero,12/02/2024,Madrid,Apto,No Apto,No Apto,Apto,No Apto
16,Sergio Aguirre,Sergio_Aguirre@gmail.com,Febrero,12/02/2024,Madrid,Apto,No Apto,Apto,Apto,No Apto
17,Carlito Carrión,Carlito_Carrión@gmail.com,Febrero,12/02/2024,Madrid,Apto,No Apto,Apto,Apto,Apto
18,Haydée Figueroa,Haydée_Figueroa@gmail.com,Febrero,12/02/2024,Madrid,Apto,Apto,Apto,Apto,Apto
19,Chita Mancebo,Chita_Mancebo@gmail.com,Febrero,12/02/2024,Madrid,No Apto,Apto,No Apto,Apto,Apto
20,Joaquina Asensio,Joaquina_Asensio@gmail.com,Febrero,12/02/2024,Madrid,No Apto,No Apto,Apto,Apto,Apto
21,Cristian Sarabia,Cristian_Sarabia@gmail.com,Febrero,12/02/2024,Madrid,Apto,Apto,No Apto,Apto,Apto
22,Isabel Ibáñez,Isabel_Ibáñez@gmail.com,Febrero,12/02/2024,Madrid,No Apto,Apto,No Apto,Apto,Apto
23,Desiderio Jordá,Desiderio_Jordá@gmail.com,Febrero,12/02/2024,Madrid,No Apto,Apto,No Apto,No Apto,Apto
24,Rosalina Llanos,Rosalina_Llanos@gmail.com,Febrero,12/02/2024,Madrid,Apto,Apto,Apto,Apto,Apto

In [15]:
dic_ds = ds_df.to_dict(orient='list')

In [17]:
print (dic_ds)

{'Nombre': ['Jafet Casals', 'Jorge Manzanares', 'Onofre Adadia', 'Merche Prada', 'Pilar Abella', 'Leoncio Tena', 'Odalys Torrijos', 'Eduardo Caparrós', 'Ignacio Goicoechea', 'Clementina Santos', 'Daniela Falcó', 'Abraham Vélez', 'Maximiliano Menéndez', 'Anita Heredia', 'Eli Casas', 'Guillermo Borrego', 'Sergio Aguirre', 'Carlito Carrión', 'Haydée Figueroa', 'Chita Mancebo', 'Joaquina Asensio', 'Cristian Sarabia', 'Isabel Ibáñez', 'Desiderio Jordá', 'Rosalina Llanos'], 'Email': ['Jafet_Casals@gmail.com', 'Jorge_Manzanares@gmail.com', 'Onofre_Adadia@gmail.com', 'Merche_Prada@gmail.com', 'Pilar_Abella@gmail.com', 'Leoncio_Tena@gmail.com', 'Odalys_Torrijos@gmail.com', 'Eduardo_Caparrós@gmail.com', 'Ignacio_Goicoechea@gmail.com', 'Clementina_Santos@gmail.com', 'Daniela_Falcó@gmail.com', 'Abraham_Vélez@gmail.com', 'Maximiliano_Menéndez@gmail.com', 'Anita_Heredia@gmail.com', 'Eli_Casas@gmail.com', 'Guillermo_Borrego@gmail.com', 'Sergio_Aguirre@gmail.com', 'Carlito_Carrión@gmail.com', 'Haydée_Figueroa@gmail.com', 'Chita_Mancebo@gmail.com', 'Joaquina_Asensio@gmail.com', 'Cristian_Sarabia@gmail.com', 'Isabel_Ibáñez@gmail.com', 'Desiderio_Jordá@gmail.com', 'Rosalina_Llanos@gmail.com'], 'Promoción': ['Septiembre', 'Septiembre', 'Septiembre', 'Septiembre', 'Septiembre', 'Septiembre', 'Septiembre', 'Septiembre', 'Septiembre', 'Septiembre', 'Septiembre', 'Septiembre', 'Septiembre', 'Septiembre', 'Septiembre', 'Febrero', 'Febrero', 'Febrero', 'Febrero', 'Febrero', 'Febrero', 'Febrero', 'Febrero', 'Febrero', 'Febrero'], 'Fecha_comienzo': ['18/09/2023', '18/09/2023', '18/09/2023', '18/09/2023', '18/09/2023', '18/09/2023', '18/09/2023', '18/09/2023', '18/09/2023', '18/09/2023', '18/09/2023', '18/09/2023', '18/09/2023', '18/09/2023', '18/09/2023', '12/02/2024', '12/02/2024', '12/02/2024', '12/02/2024', '12/02/2024', '12/02/2024', '12/02/2024', '12/02/2024', '12/02/2024', '12/02/2024'], 'Campus': ['Madrid', 'Madrid', 'Madrid', 'Madrid', 'Madrid', 'Madrid', 'Madrid', 'Madrid', 'Madrid', 'Madrid', 'Madrid', 'Madrid', 'Madrid', 'Madrid', 'Madrid', 'Madrid', 'Madrid', 'Madrid', 'Madrid', 'Madrid', 'Madrid', 'Madrid', 'Madrid', 'Madrid', 'Madrid'], 'Proyecto_HLF': ['Apto', 'Apto', 'Apto', 'Apto', 'Apto', 'Apto', 'No Apto', 'No Apto', 'Apto', 'Apto', 'Apto', 'Apto', 'Apto', 'Apto', 'Apto', 'Apto', 'Apto', 'Apto', 'Apto', 'No Apto', 'No Apto', 'Apto', 'No Apto', 'No Apto', 'Apto'], 'Proyecto_EDA': ['No Apto', 'No Apto', 'Apto', 'No Apto', 'No Apto', 'Apto', 'Apto', 'Apto', 'Apto', 'No Apto', 'Apto', 'No Apto', 'No Apto', 'Apto', 'Apto', 'No Apto', 'No Apto', 'No Apto', 'Apto', 'Apto', 'No Apto', 'Apto', 'Apto', 'Apto', 'Apto'], 'Proyecto_BBDD': ['Apto', 'Apto', 'Apto', 'No Apto', 'Apto', 'Apto', 'Apto', 'Apto', 'Apto', 'Apto', 'Apto', 'No Apto', 'Apto', 'Apto', 'Apto', 'No Apto', 'Apto', 'Apto', 'Apto', 'No Apto', 'Apto', 'No Apto', 'No Apto', 'No Apto', 'Apto'], 'Proyecto_ML': ['Apto', 'Apto', 'No Apto', 'Apto', 'Apto', 'Apto', 'Apto', 'Apto', 'No Apto', 'Apto', 'Apto', 'Apto', 'Apto', 'Apto', 'Apto', 'Apto', 'Apto', 'Apto', 'Apto', 'Apto', 'Apto', 'Apto', 'Apto', 'No Apto', 'Apto'], 'Proyecto_Deployment': ['Apto', 'Apto', 'Apto', 'No Apto', 'Apto', 'Apto', 'Apto', 'Apto', 'Apto', 'Apto', 'Apto', 'Apto', 'Apto', 'Apto', 'Apto', 'No Apto', 'No Apto', 'Apto', 'Apto', 'Apto', 'Apto', 'Apto', 'Apto', 'Apto', 'Apto']}

In [19]:
for index, row in ds_df.iterrows():
    print(f'Datos de {row["Nombre"]}:')
    print(f'Nombre: {row["Nombre"]}')
    print(f'Email: {row["Email"]}')
    print(f'Promoción: {row["Promoción"]}')
    print(f'Fecha de Comienzo: {row["Fecha_comienzo"]}')
    print(f'Campus: {row["Campus"]}')
    print('---')

Datos de Jafet Casals:
Nombre: Jafet Casals
Email: Jafet_Casals@gmail.com
Promoción: Septiembre
Fecha de Comienzo: 18/09/2023
Campus: Madrid
---
Datos de Jorge Manzanares:
Nombre: Jorge Manzanares
Email: Jorge_Manzanares@gmail.com
Promoción: Septiembre
Fecha de Comienzo: 18/09/2023
Campus: Madrid
---
Datos de Onofre Adadia:
Nombre: Onofre Adadia
Email: Onofre_Adadia@gmail.com
Promoción: Septiembre
Fecha de Comienzo: 18/09/2023
Campus: Madrid
---
Datos de Merche Prada:
Nombre: Merche Prada
Email: Merche_Prada@gmail.com
Promoción: Septiembre
Fecha de Comienzo: 18/09/2023
Campus: Madrid
---
Datos de Pilar Abella:
Nombre: Pilar Abella
Email: Pilar_Abella@gmail.com
Promoción: Septiembre
Fecha de Comienzo: 18/09/2023
Campus: Madrid
---
Datos de Leoncio Tena:
Nombre: Leoncio Tena
Email: Leoncio_Tena@gmail.com
Promoción: Septiembre
Fecha de Comienzo: 18/09/2023
Campus: Madrid
---
Datos de Odalys Torrijos:
Nombre: Odalys Torrijos
Email: Odalys_Torrijos@gmail.com
Promoción: Septiembre
Fecha de Comienzo: 18/09/2023
Campus: Madrid
---
Datos de Eduardo Caparrós:
Nombre: Eduardo Caparrós
Email: Eduardo_Caparrós@gmail.com
Promoción: Septiembre
Fecha de Comienzo: 18/09/2023
Campus: Madrid
---
Datos de Ignacio Goicoechea:
Nombre: Ignacio Goicoechea
Email: Ignacio_Goicoechea@gmail.com
Promoción: Septiembre
Fecha de Comienzo: 18/09/2023
Campus: Madrid
---
Datos de Clementina Santos:
Nombre: Clementina Santos
Email: Clementina_Santos@gmail.com
Promoción: Septiembre
Fecha de Comienzo: 18/09/2023
Campus: Madrid
---
Datos de Daniela Falcó:
Nombre: Daniela Falcó
Email: Daniela_Falcó@gmail.com
Promoción: Septiembre
Fecha de Comienzo: 18/09/2023
Campus: Madrid
---
Datos de Abraham Vélez:
Nombre: Abraham Vélez
Email: Abraham_Vélez@gmail.com
Promoción: Septiembre
Fecha de Comienzo: 18/09/2023
Campus: Madrid
---
Datos de Maximiliano Menéndez:
Nombre: Maximiliano Menéndez
Email: Maximiliano_Menéndez@gmail.com
Promoción: Septiembre
Fecha de Comienzo: 18/09/2023
Campus: Madrid
---
Datos de Anita Heredia:
Nombre: Anita Heredia
Email: Anita_Heredia@gmail.com
Promoción: Septiembre
Fecha de Comienzo: 18/09/2023
Campus: Madrid
---
Datos de Eli Casas:
Nombre: Eli Casas
Email: Eli_Casas@gmail.com
Promoción: Septiembre
Fecha de Comienzo: 18/09/2023
Campus: Madrid
---
Datos de Guillermo Borrego:
Nombre: Guillermo Borrego
Email: Guillermo_Borrego@gmail.com
Promoción: Febrero
Fecha de Comienzo: 12/02/2024
Campus: Madrid
---
Datos de Sergio Aguirre:
Nombre: Sergio Aguirre
Email: Sergio_Aguirre@gmail.com
Promoción: Febrero
Fecha de Comienzo: 12/02/2024
Campus: Madrid
---
Datos de Carlito Carrión:
Nombre: Carlito Carrión
Email: Carlito_Carrión@gmail.com
Promoción: Febrero
Fecha de Comienzo: 12/02/2024
Campus: Madrid
---
Datos de Haydée Figueroa:
Nombre: Haydée Figueroa
Email: Haydée_Figueroa@gmail.com
Promoción: Febrero
Fecha de Comienzo: 12/02/2024
Campus: Madrid
---
Datos de Chita Mancebo:
Nombre: Chita Mancebo
Email: Chita_Mancebo@gmail.com
Promoción: Febrero
Fecha de Comienzo: 12/02/2024
Campus: Madrid
---
Datos de Joaquina Asensio:
Nombre: Joaquina Asensio
Email: Joaquina_Asensio@gmail.com
Promoción: Febrero
Fecha de Comienzo: 12/02/2024
Campus: Madrid
---
Datos de Cristian Sarabia:
Nombre: Cristian Sarabia
Email: Cristian_Sarabia@gmail.com
Promoción: Febrero
Fecha de Comienzo: 12/02/2024
Campus: Madrid
---
Datos de Isabel Ibáñez:
Nombre: Isabel Ibáñez
Email: Isabel_Ibáñez@gmail.com
Promoción: Febrero
Fecha de Comienzo: 12/02/2024
Campus: Madrid
---
Datos de Desiderio Jordá:
Nombre: Desiderio Jordá
Email: Desiderio_Jordá@gmail.com
Promoción: Febrero
Fecha de Comienzo: 12/02/2024
Campus: Madrid
---
Datos de Rosalina Llanos:
Nombre: Rosalina Llanos
Email: Rosalina_Llanos@gmail.com
Promoción: Febrero
Fecha de Comienzo: 12/02/2024
Campus: Madrid
---

In [21]:
# Suponiendo que tienes la siguiente lista de IDs de alumnos
ids_alumnos = [1, 2, 3, 4, 5]

# Y la siguiente lista de listas con las calificaciones para cada proyecto
calificaciones = [
    ['Apto', 'No Apto', 'Apto', 'Apto', 'No Apto'],
    ['No Apto', 'Apto', 'Apto', 'No Apto', 'Apto'],
    ['Apto', 'Apto', 'No Apto', 'Apto', 'No Apto'],
    ['No Apto', 'No Apto', 'Apto', 'Apto', 'Apto'],
    ['Apto', 'Apto', 'Apto', 'No Apto', 'No Apto']
]

# Crear el DataFrame
df = pd.DataFrame(calificaciones, columns=['Proyecto 1', 'Proyecto 2', 'Proyecto 3', 'Proyecto 4', 'Proyecto 5'])

# Agregar la columna de IDs de alumnos
df.insert(0, 'ID Alumno', ids_alumnos)

# Mostrar el DataFrame
df

   ID Alumno Proyecto 1 Proyecto 2 Proyecto 3 Proyecto 4 Proyecto 5
0          1       Apto    No Apto       Apto       Apto    No Apto
1          2    No Apto       Apto       Apto    No Apto       Apto
2          3       Apto       Apto    No Apto       Apto    No Apto
3          4    No Apto    No Apto       Apto       Apto       Apto
4          5       Apto       Apto       Apto    No Apto    No Apto

In [24]:

# Suponiendo que tienes las siguientes listas de datos
nombres_proyectos = ['HLF', 'HLF', 'HLF', 'HLF', 'HLF', 'HLF']
ids_alumnos = [1, 2, 3, 4, 5, 6]
notas = ['Apto', 'No Apto', 'Apto', 'No Apto', 'Apto', 'No Apto']

# Crear un diccionario con los datos
datos = {
    'Nombre Proyecto': nombres_proyectos,
    'ID Alumno': ids_alumnos,
    'Nota': notas
}

# Crear el DataFrame a partir del diccionario
df = pd.DataFrame(datos)

# Mostrar el DataFrame
df

  Nombre Proyecto  ID Alumno     Nota
0             HLF          1     Apto
1             HLF          2  No Apto
2             HLF          3     Apto
3             HLF          4  No Apto
4             HLF          5     Apto
5             HLF          6  No Apto