In [30]:
import pandas as pd
import numpy as np

In [31]:
pd.set_option("display.max_rows", None)

In [32]:
claustro = pd.read_csv('../data/claustro.csv', sep=';')
claustro

               Nombre Rol Vertical   Promocion    Campus
0           Noa Yáñez  TA       DS  Septiembre    Madrid
1   Saturnina Benitez  TA       DS  Septiembre    Madrid
2          Anna Feliu  TA       FS  Septiembre    Madrid
3       Rosalva Ayuso  TA       FS  Septiembre  Valencia
4    Ana Sofía Ferrer  TA       FS     Febrero  Valencia
5     Angélica Corral  TA       FS     Febrero    Madrid
6         Ariel Lledó  TA       DS  Septiembre    Madrid
7         Mario Prats  LI       FS     Febrero  Valencia
8   Luis Ángel Suárez  LI       FS  Septiembre    Madrid
9  María Dolores Diaz  LI       DS  Septiembre    Madrid

In [33]:
claustro.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Nombre     10 non-null     object
 1   Rol        10 non-null     object
 2   Vertical   10 non-null     object
 3   Promocion  10 non-null     object
 4   Campus     10 non-null     object
dtypes: object(5)
memory usage: 532.0+ bytes

In [34]:
columnas_seleccionadas = ["Nombre","Campus","Rol","Promocion","Vertical"]
valores = claustro[columnas_seleccionadas].values
valores

array([['Noa Yáñez', 'Madrid', 'TA', 'Septiembre', 'DS'],
       ['Saturnina Benitez', 'Madrid', 'TA', 'Septiembre', 'DS'],
       ['Anna Feliu', 'Madrid', 'TA', 'Septiembre', 'FS'],
       ['Rosalva Ayuso', 'Valencia', 'TA', 'Septiembre', 'FS'],
       ['Ana Sofía Ferrer', 'Valencia', 'TA', 'Febrero', 'FS'],
       ['Angélica Corral', 'Madrid', 'TA', 'Febrero', 'FS'],
       ['Ariel Lledó', 'Madrid', 'TA', 'Septiembre', 'DS'],
       ['Mario Prats', 'Valencia', 'LI', 'Febrero', 'FS'],
       ['Luis Ángel Suárez', 'Madrid', 'LI', 'Septiembre', 'FS'],
       ['María Dolores Diaz', 'Madrid', 'LI', 'Septiembre', 'DS']],
      dtype=object)

In [35]:
# ('Noa Yáñez', 'Madrid', 'TA', 'Septiembre', 'DS')
# ('Saturnina Benitez', 'Madrid', 'TA', 'Septiembre', 'DS')
# ('Anna Feliu', 'Madrid', 'TA', 'Septiembre', 'FS')
# ('Rosalva Ayuso', 'Valencia', 'TA', 'Septiembre', 'FS')
# ('Ana Sofía Ferrer', 'Valencia', 'TA', 'Febrero', 'FS')
# ('Angélica Corral', 'Madrid', 'TA', 'Febrero', 'FS')
# ('Ariel Lledó', 'Madrid', 'TA', 'Septiembre', 'DS')
# ('Mario Prats', 'Valencia', 'LI', 'Febrero', 'FS')
# ('Luis Ángel Suárez', 'Madrid', 'LI', 'Septiembre', 'FS')
# ('María Dolores Diaz', 'Madrid', 'LI', 'Septiembre', 'DS')

In [36]:
ds_clase1 = pd.read_csv('../data/listado_DS_clase_1.csv', sep=';')
ds_clase1

,Nombre,Email,Promoción,Fecha_comienzo,Campus,Proyecto_HLF,Proyecto_EDA,Proyecto_BBDD,Proyecto_ML,Proyecto_Deployment
0,Jafet Casals,Jafet_Casals@gmail.com,Septiembre,18/09/2023,Madrid,Apto,No Apto,Apto,Apto,Apto
1,Jorge Manzanares,Jorge_Manzanares@gmail.com,Septiembre,18/09/2023,Madrid,Apto,No Apto,Apto,Apto,Apto
2,Onofre Adadia,Onofre_Adadia@gmail.com,Septiembre,18/09/2023,Madrid,Apto,Apto,Apto,No Apto,Apto
3,Merche Prada,Merche_Prada@gmail.com,Septiembre,18/09/2023,Madrid,Apto,No Apto,No Apto,Apto,No Apto
4,Pilar Abella,Pilar_Abella@gmail.com,Septiembre,18/09/2023,Madrid,Apto,No Apto,Apto,Apto,Apto
5,Leoncio Tena,Leoncio_Tena@gmail.com,Septiembre,18/09/2023,Madrid,Apto,Apto,Apto,Apto,Apto
6,Odalys Torrijos,Odalys_Torrijos@gmail.com,Septiembre,18/09/2023,Madrid,No Apto,Apto,Apto,Apto,Apto
7,Eduardo Caparrós,Eduardo_Caparrós@gmail.com,Septiembre,18/09/2023,Madrid,No Apto,Apto,Apto,Apto,Apto
8,Ignacio Goicoechea,Ignacio_Goicoechea@gmail.com,Septiembre,18/09/2023,Madrid,Apto,Apto,Apto,No Apto,Apto
9,Clementina Santos,Clementina_Santos@gmail.com,Septiembre,18/09/2023,Madrid,Apto,No Apto,Apto,Apto,Apto
10,Daniela Falcó,Daniela_Falcó@gmail.com,Septiembre,18/09/2023,Madrid,Apto,Apto,Apto,Apto,Apto
11,Abraham Vélez,Abraham_Vélez@gmail.com,Septiembre,18/09/2023,Madrid,Apto,No Apto,No Apto,Apto,Apto
12,Maximiliano Menéndez,Maximiliano_Menéndez@gmail.com,Septiembre,18/09/2023,Madrid,Apto,No Apto,Apto,Apto,Apto
13,Anita Heredia,Anita_Heredia@gmail.com,Septiembre,18/09/2023,Madrid,Apto,Apto,Apto,Apto,Apto
14,Eli Casas,Eli_Casas@gmail.com,Septiembre,18/09/2023,Madrid,Apto,Apto,Apto,Apto,Apto

In [38]:
ds_clase1.iloc[0].values

array(['Jafet Casals', 'Jafet_Casals@gmail.com', 'Septiembre',
       '18/09/2023', 'Madrid', 'Apto', 'No Apto', 'Apto', 'Apto', 'Apto'],
      dtype=object)

In [39]:
columnas_seleccionadas = ["Proyecto_HLF","Proyecto_EDA","Proyecto_BBDD","Proyecto_ML","Proyecto_Deployment"]
valores = ds_clase1[columnas_seleccionadas].values

In [40]:
ds_clase2 = pd.read_csv('../data/listado_DS_clase_2.csv', sep=';')
ds_clase2

,Nombre,Email,Promoción,Fecha_comienzo,Campus,Proyecto_HLF,Proyecto_EDA,Proyecto_BBDD,Proyecto_ML,Proyecto_Deployment
0,Guillermo Borrego,Guillermo_Borrego@gmail.com,Febrero,12/02/2024,Madrid,Apto,No Apto,No Apto,Apto,No Apto
1,Sergio Aguirre,Sergio_Aguirre@gmail.com,Febrero,12/02/2024,Madrid,Apto,No Apto,Apto,Apto,No Apto
2,Carlito Carrión,Carlito_Carrión@gmail.com,Febrero,12/02/2024,Madrid,Apto,No Apto,Apto,Apto,Apto
3,Haydée Figueroa,Haydée_Figueroa@gmail.com,Febrero,12/02/2024,Madrid,Apto,Apto,Apto,Apto,Apto
4,Chita Mancebo,Chita_Mancebo@gmail.com,Febrero,12/02/2024,Madrid,No Apto,Apto,No Apto,Apto,Apto
5,Joaquina Asensio,Joaquina_Asensio@gmail.com,Febrero,12/02/2024,Madrid,No Apto,No Apto,Apto,Apto,Apto
6,Cristian Sarabia,Cristian_Sarabia@gmail.com,Febrero,12/02/2024,Madrid,Apto,Apto,No Apto,Apto,Apto
7,Isabel Ibáñez,Isabel_Ibáñez@gmail.com,Febrero,12/02/2024,Madrid,No Apto,Apto,No Apto,Apto,Apto
8,Desiderio Jordá,Desiderio_Jordá@gmail.com,Febrero,12/02/2024,Madrid,No Apto,Apto,No Apto,No Apto,Apto
9,Rosalina Llanos,Rosalina_Llanos@gmail.com,Febrero,12/02/2024,Madrid,Apto,Apto,Apto,Apto,Apto

In [ ]:
ds_df = pd.concat([ds_clase1,ds_clase2])
ds_df.reset_index(drop=True)

In [42]:
# ('Daniela Falcó	', 'Daniela_Falcó@gmail.com','Madrid','DS2309','DS')
# ('Anita Heredia', 'Anita_Heredia@gmail.com','Madrid','DS2309','DS')
# ('Haydée Figueroa', 'Haydée_Figueroa@gmail.com','Madrid','DS2402','DS')

In [43]:
proyectos = ["proyecto_HLF","Proyecto_EDA","Proyecto_BBDD","Proyecto_ML","Proyecto_Deployment"]*25
# hlf = ["ProyectO_HLF"]*25
# eda = ["Proyecto_EDA"]*25
# bbdd = ["Proyecto_BBDD"]*25
# ml = ["Proyecto_ML"]*25
# depl = ["Proyecto_Deployment"]*25

In [44]:
len(proyectos)

125

In [45]:
# nombre_proyecto = []
# for i in hlf:
#     nombre_proyecto.append(i)
# for i in eda:
#     nombre_proyecto.append(i)
# for i in bbdd:
#     nombre_proyecto.append(i)
# for i in ml:
#     nombre_proyecto.append(i)
# for i in depl:
#     nombre_proyecto.append(i)

In [46]:
rango1 = range(3, 16)
rango2 = range(40, 49)
rango3 = range(76,79)
alumno_id = []

for i in rango1:
    alumno_id.extend([i] * 5)

for i in rango2:
    alumno_id.extend([i] * 5)

for i in rango3:
    alumno_id.extend([i] * 5)

In [59]:
notas = {}
# nota_hlf = []
# nota_eda = []
# nota_bbdd = []
# nota_ml = []
# nota_depl = []

for i in ds_df["Proyecto_HLF"]:
    notas.append(i)
for i in ds_df["Proyecto_EDA"]:
    notas.append(i)
for i in ds_df["Proyecto_BBDD"]:
    notas.append(i)
for i in ds_df["Proyecto_ML"]:
    notas.append(i)
for i in ds_df["Proyecto_Deployment"]:
    notas.append(i)

AttributeError: 'dict' object has no attribute 'append'

In [53]:
len(proyectos)

125

In [61]:
len(notas)

5

In [55]:
len(alumno_id)

125

In [51]:
notas_dicc = {"Nombre Proyecto" : proyectos,
               "Alumno ID" : alumno_id,
               "Nota": notas}

In [58]:
data_notas = pd.DataFrame(notas_dicc)
data_notas.to_csv('data_notas.csv', index=False)

ValueError: Mixing dicts with non-Series may lead to ambiguous ordering.

In [ ]:
data_notas

NameError: name 'data_notas' is not defined

In [ ]:
ds_clase2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Nombre               10 non-null     object
 1   Email                10 non-null     object
 2   Promoción            10 non-null     object
 3   Fecha_comienzo       10 non-null     object
 4   Campus               10 non-null     object
 5   Proyecto_HLF         10 non-null     object
 6   Proyecto_EDA         10 non-null     object
 7   Proyecto_BBDD        10 non-null     object
 8   Proyecto_ML          10 non-null     object
 9   Proyecto_Deployment  10 non-null     object
dtypes: object(10)
memory usage: 932.0+ bytes

In [ ]:
fs_clase1 = pd.read_csv('./data/listado_FS_clase_1.csv', sep=';')
fs_clase1

,Nombre,Email,Promoción,Fecha_comienzo,Campus,Proyecto_WebDev,Proyecto_FrontEnd,Proyecto_Backend,Proyecto_React,Proyecto_FullSatck
0,Amor Larrañaga,Amor_Larrañaga@gmail.com,Septiembre,18/09/2023,Madrid,Apto,Apto,Apto,Apto,No Apto
1,Teodoro Alberola,Teodoro_Alberola@gmail.com,Septiembre,18/09/2023,Madrid,No Apto,No Apto,Apto,No Apto,Apto
2,Cleto Plana,Cleto_Plana@gmail.com,Septiembre,18/09/2023,Madrid,Apto,No Apto,Apto,No Apto,Apto
3,Aitana Sebastián,Aitana_Sebastián@gmail.com,Septiembre,18/09/2023,Madrid,Apto,No Apto,Apto,No Apto,Apto
4,Dolores Valbuena,Dolores_Valbuena@gmail.com,Septiembre,18/09/2023,Madrid,Apto,Apto,Apto,Apto,No Apto
5,Julie Ferrer,Julie_Ferrer@gmail.com,Septiembre,18/09/2023,Madrid,No Apto,No Apto,No Apto,Apto,No Apto
6,Mireia Cabañas,Mireia_Cabañas@gmail.com,Septiembre,18/09/2023,Madrid,No Apto,Apto,Apto,Apto,Apto
7,Flavia Amador,Flavia_Amador@gmail.com,Septiembre,18/09/2023,Madrid,Apto,Apto,No Apto,Apto,Apto
8,Albino Macias,Albino_Macias@gmail.com,Septiembre,18/09/2023,Madrid,No Apto,Apto,Apto,Apto,Apto
9,Ester Sánchez,Ester_Sánchez@gmail.com,Septiembre,18/09/2023,Madrid,No Apto,Apto,Apto,No Apto,Apto
10,Luis Miguel Galvez,Luis_Miguel_Galvez@gmail.com,Septiembre,18/09/2023,Madrid,No Apto,Apto,Apto,Apto,Apto
11,Loida Arellano,Loida_Arellano@gmail.com,Septiembre,18/09/2023,Madrid,Apto,Apto,Apto,Apto,Apto
12,Heraclio Duque,Heraclio_Duque@gmail.com,Septiembre,18/09/2023,Madrid,Apto,Apto,No Apto,No Apto,No Apto
13,Herberto Figueras,Herberto_Figueras@gmail.com,Septiembre,18/09/2023,Madrid,Apto,Apto,Apto,Apto,Apto

In [ ]:
columnas_seleccionadas = ["Proyecto_WebDev","Proyecto_FrontEnd","Proyecto_Backend","Proyecto_React","Proyecto_FullSatck"]
valores = fs_clase1[columnas_seleccionadas].values
valores

array([['Apto', 'Apto', 'Apto', 'Apto', 'No Apto'],
       ['No Apto', 'No Apto', 'Apto', 'No Apto', 'Apto'],
       ['Apto', 'No Apto', 'Apto', 'No Apto', 'Apto'],
       ['Apto', 'No Apto', 'Apto', 'No Apto', 'Apto'],
       ['Apto', 'Apto', 'Apto', 'Apto', 'No Apto'],
       ['No Apto', 'No Apto', 'No Apto', 'Apto', 'No Apto'],
       ['No Apto', 'Apto', 'Apto', 'Apto', 'Apto'],
       ['Apto', 'Apto', 'No Apto', 'Apto', 'Apto'],
       ['No Apto', 'Apto', 'Apto', 'Apto', 'Apto'],
       ['No Apto', 'Apto', 'Apto', 'No Apto', 'Apto'],
       ['No Apto', 'Apto', 'Apto', 'Apto', 'Apto'],
       ['Apto', 'Apto', 'Apto', 'Apto', 'Apto'],
       ['Apto', 'Apto', 'No Apto', 'No Apto', 'No Apto'],
       ['Apto', 'Apto', 'Apto', 'Apto', 'Apto']], dtype=object)

In [ ]:
fs_clase1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Nombre              14 non-null     object
 1   Email               14 non-null     object
 2   Promoción           14 non-null     object
 3   Fecha_comienzo      14 non-null     object
 4   Campus              14 non-null     object
 5   Proyecto_WebDev     14 non-null     object
 6   Proyecto_FrontEnd   14 non-null     object
 7   Proyecto_Backend    14 non-null     object
 8   Proyecto_React      14 non-null     object
 9   Proyecto_FullSatck  14 non-null     object
dtypes: object(10)
memory usage: 1.2+ KB

In [ ]:
fs_clase2 = pd.read_csv('./data/listado_FS_clase_2.csv', sep=';')
fs_clase2

,Nombre,Email,Promoción,Fecha_comienzo,Campus,Proyecto_WebDev,Proyecto_FrontEnd,Proyecto_Backend,Proyecto_React,Proyecto_FullSatck
0,Teresa Laguna,Teresa_Laguna@gmail.com,Febrero,12/02/2024,Valencia,Apto,Apto,Apto,Apto,Apto
1,Estrella Murillo,Estrella_Murillo@gmail.com,Febrero,12/02/2024,Valencia,Apto,Apto,No Apto,Apto,Apto
2,Ernesto Uriarte,Ernesto_Uriarte@gmail.com,Febrero,12/02/2024,Valencia,Apto,Apto,Apto,Apto,Apto
3,Daniela Guitart,Daniela_Guitart@gmail.com,Febrero,12/02/2024,Valencia,Apto,No Apto,No Apto,Apto,Apto
4,Timoteo Trillo,Timoteo_Trillo@gmail.com,Febrero,12/02/2024,Valencia,No Apto,Apto,Apto,Apto,No Apto
5,Ricarda Tovar,Ricarda_Tovar@gmail.com,Febrero,12/02/2024,Valencia,Apto,Apto,Apto,Apto,Apto
6,Alejandra Vilaplana,Alejandra_Vilaplana@gmail.com,Febrero,12/02/2024,Valencia,No Apto,No Apto,No Apto,Apto,Apto
7,Daniel Rosselló,Daniel_Rosselló@gmail.com,Febrero,12/02/2024,Valencia,No Apto,No Apto,Apto,No Apto,No Apto
8,Rita Olivares,Rita_Olivares@gmail.com,Febrero,12/02/2024,Valencia,No Apto,No Apto,No Apto,Apto,Apto
9,Cleto Montes,Cleto_Montes@gmail.com,Febrero,12/02/2024,Valencia,Apto,Apto,No Apto,Apto,Apto
10,Marino Castilla,Marino_Castilla@gmail.com,Febrero,12/02/2024,Valencia,No Apto,No Apto,Apto,No Apto,No Apto
11,Estefanía Valcárcel,Estefanía_Valcárcel@gmail.com,Febrero,12/02/2024,Valencia,Apto,Apto,No Apto,No Apto,Apto
12,Noemí Vilanova,Noemí_Vilanova@gmail.com,Febrero,12/02/2024,Valencia,Apto,No Apto,No Apto,Apto,Apto

In [ ]:
columnas_seleccionadas = ["Proyecto_WebDev","Proyecto_FrontEnd","Proyecto_Backend","Proyecto_React","Proyecto_FullSatck"]
valores = fs_clase2[columnas_seleccionadas].values

In [ ]:
fs_clase2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Nombre              13 non-null     object
 1   Email               13 non-null     object
 2   Promoción           13 non-null     object
 3   Fecha_comienzo      13 non-null     object
 4   Campus              13 non-null     object
 5   Proyecto_WebDev     13 non-null     object
 6   Proyecto_FrontEnd   13 non-null     object
 7   Proyecto_Backend    13 non-null     object
 8   Proyecto_React      13 non-null     object
 9   Proyecto_FullSatck  13 non-null     object
dtypes: object(10)
memory usage: 1.1+ KB

In [ ]:
prueba = pd.DataFrame({
    "ID_estudiante": ["E1"] * 5,  # Repito el valor 5 veces
    "id_proyecto": ["1ds", "2ds", "3ds", "4ds", "5ds"],  # ID de cada proyecto
    "Nombre_proyecto": ["HLF", "MLF", "DLF", "ALF", "QLF"],  # Nombre de cada proyecto
    "Notas": ["apto", "no apto", "apto", "apto", "no apto"], #Nota de cada uno de los proyectos
    "Vertical_ID": 2 
})



prueba

  ID_estudiante id_proyecto Nombre_proyecto    Notas  Vertical_ID
0            E1         1ds             HLF     apto            2
1            E1         2ds             MLF  no apto            2
2            E1         3ds             DLF     apto            2
3            E1         4ds             ALF     apto            2
4            E1         5ds             QLF  no apto            2